@import "tailwindcss";

@theme{
  --color-headings: #3F3F3F;
  --color-primary: #DCC9B6;
  --color-secondary: #8C7660;
  --color-accents: #F2E9E1;
  --color-offwhite: #FAFAFA;
}

:root {
  font-size: 16px;
}

h1 {
  font-family: Playfair Display, serif;
  line-height: 1.05;
}

h2{
  font-family: Playfair Display, serif;
  line-height: 1.1;
}

h3{
  font-family: Playfair Display, serif;
  line-height: 1.15;
}

h4{
  font-family: Playfair Display, serif;
  line-height: 1.2;
}

h5{
  font-family: Playfair Display, serif;
  line-height: 1.25;
}

h6{
  font-family: Lato, sans-serif;
  line-height: 1.3;
}

p{
  font-family: Lato, sans-serif;
  line-height: 1.6;
}