@import "tailwindcss";

@theme{
  --color-headings: #6B6B6B;
  --color-primary: #DCC9B6;
  --color-secondary: #8C7760;
  --color-accents: #F2E9E1;
  --color-background: #FAFAFA;
}

h1 {
  font-size: 5.61rem;
  font-family: Playfair Display, serif;
  line-height: 1.05;
}

h2{
  font-size: 4.209rem;
  font-family: Playfair Display, serif;
  line-height: 1.1;
}

h3{
  font-size: 3.157rem;
  font-family: Playfair Display, serif;
  line-height: 1.15;
}

h4{
  font-size: 2.369rem;
  font-family: Playfair Display, serif;
  line-height: 1.2;
}

h5{
  font-size: 1.777rem;
  font-family: Playfair Display, serif;
  line-height: 1.25;
}

h6{
  font-size: 1.333rem;
  font-family: Lato, sans-serif;
  line-height: 1.3;
}

p{
  font-size: 1rem;
  font-family: Lato, sans-serif;
  line-height: 1.6;
}